.myDiv {
            text-align: left;
            padding: 3px;
        }

        .query_button {
            margin-top: 8px;
        }

        .happy {
            size: 77;
            margin-top: 5px;
        }

        .title_dataset {
            text-align: center;
        }



        .table-scroll {
            margin: 50px;
            width: 95%;
            max-height: 500px;
            min-height: 200px;
            overflow: auto;
            margin-top: 20px;
        }


        th:hover {
            cursor: pointer;
            background-color: #4e4ef1 ;
        }

        table,
        tbody,
        thead,
        tr,
        th,
        td {
            margin: 0;
            padding: 0 15px;
            border: 0px #4e4ef1;
            outline: 0;
            font-size: 97%;
            vertical-align: baseline;
            background: transparent;
            text-align: center;
        }

        th,td {
            white-space: nowrap;
        }

        td {
            overflow-wrap:break-word;
            height: 25px;
            border: 1px #4e4ef1 !important;
            font-size: 15px;
            text-align: center;
            padding: 3px !important;
            width: 150px !important;
            line-height: 30px;
            -webkit-column-gap: 90px;
            /* Chrome, Safari, Opera */
            -moz-column-gap: 40px;
            /* Firefox */
            column-gap: 40px;
            text-align: center;
        }


        .table-scroll {
            height: auto;
            overflow: auto;
        }
